# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

## Automatically approves and merges dependabot PRs if tests pass.

name: Dependabot
on: pull_request

permissions:
  contents: write
  pull-requests: write

jobs:
  test:
    uses: ./.github/workflows/test.yml

  dependabot:
    needs: test
    if: ${{ github.actor == 'dependabot[bot]' }}

    runs-on: ubuntu-latest
    env:
      PR_URL: ${{github.event.pull_request.html_url}}
      GITHUB_TOKEN: ${{secrets.SYNCED_GITHUB_TOKEN_REPO}}
    steps:
      - name: Approve
        run: gh pr review --approve "$PR_URL"

      - name: Merge
        run: gh pr merge --auto --squash --delete-branch "$PR_URL"
